[Unit]
Description=Clean dangling docker images
Requisite=docker.service
After=docker.service

[Service]
Type=oneshot
ExecStart=/usr/bin/docker image prune --force
